automations/email Cash me.json
{
  "name": "Gmail Anexos para Google Drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "hasAttachment": true
        },
        "simple": true
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "get",
        "messageId": "={{$json.id}}",
        "format": "full"
      },
      "id": "gmail-get-message",
      "name": "Get Email Details",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "attachment",
        "operation": "get",
        "messageId": "={{$json.id}}",
        "attachmentId": "={{$json.payload.parts.filter(part => part.filename && part.filename !== '').map(part => part.body.attachmentId)[0]}}"
      },
      "id": "gmail-get-attachment",
      "name": "Get Attachment",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "fileContent": "={{$json.data}}",
        "name": "={{$node['Get Email Details'].json.payload.parts.filter(part => part.filename && part.filename !== '')[0].filename}}",
        "resolveData": true
      },
      "id": "google-drive-upload",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        900,
        300
      ],
      "credentials": {
        "googleDriveOAuth2": {
          "id": "gdrive-oauth",
          "name": "Google Drive OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get Email Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Details": {
      "main": [
        [
          {
            "node": "Get Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachment": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "gmail-drive-workflow",
  "tags": []
}